@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}

<style>
    main {
        background-color: #f8f9fa;
        color: #343a40;
        padding: 40px 0;
    }

    h2, h3 {
        color: #CC9966;
    }

    p {
        line-height: 1.6;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    /* Container Styles */
    .container {
        margin: 0 auto;
    }
    ul li {
        list-style: none;
    }
</style>

<main aria-labelledby="title">
    <div class="container">
        <h3>Chào mừng bạn đến với Cửa hàng Thời trang Nam Nữ Molla!</h3>

        <p>Khám phá phong cách thời trang đỉnh cao và trải nghiệm một thế giới của sự sành điệu tại cửa hàng thời trang trực tuyến của chúng tôi. Chúng tôi không chỉ là một nơi mua sắm; chúng tôi là một cộng đồng tôn vinh sự sáng tạo, phong cách và sự tự tin.</p>

        <p>Tại Molla, chúng tôi tự hào mang đến cho bạn một lựa chọn phong phú những trang phục và phụ kiện thời trang phục vụ mọi nhu cầu và phong cách. Cho dù bạn là một người đam mê thời trang, một người theo đuổi xu hướng, hoặc ai đó đang tìm kiếm các lựa chọn phù hợp với ngân sách, chúng tôi có một cái gì đó cho mọi người.</p>

        <p>Tại sao chọn chúng tôi?</p>
        <ul>
            <li><strong>Đa dạng không giới hạn:</strong> Khám phá một loạt các sản phẩm thời trang từ các thương hiệu hàng đầu.</li>
            <li><strong>Ưu đãi độc quyền:</strong> Thưởng thức những ưu đãi và khuyến mãi đặc biệt dành cho cộng đồng của chúng tôi.</li>
            <li><strong>Đánh giá của chuyên gia:</strong> Đưa ra quyết định thông minh với những đánh giá sản phẩm và hướng dẫn phong cách chi tiết của chúng tôi.</li>
            <li><strong>Mua sắm an toàn:</strong> Mua sắm với sự tự tin khi biết rằng quyền riêng tư và bảo mật của bạn là ưu tiên hàng đầu của chúng tôi.</li>
        </ul>

        <p>Hãy tham gia với chúng tôi trong chuyến phiêu lưu này của khám phá thời trang, nơi mỗi cú nhấp chuột đưa bạn gần hơn với phong cách hoàn hảo. Cảm nhận sự hứng thú từ những bộ sưu tập mới nhất, cập nhật xu hướng thời trang và trở thành một phần của cộng đồng yêu thời trang chung của chúng tôi.</p>

        <p>Cảm ơn bạn đã chọn Molla. Hành trình của bạn vào thế giới thời trang bắt đầu từ đây!</p>

    </div>
</main>
